body {
	text-align:center;
	background-image: url("shibuya.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family:
}
#logo img {
	margin-top:10px;
	width:20%;
	
}
form {
	margin-top:150px;
	padding-left:20px;
}
#trip {
	color:white;
}
nav {
	color:white;
	background-color: white;
	font-size:16px;
	width:100%;	
	font-variant: small-caps;
	z-index:10;
}
.row {
	color:white;
}
.btn {
	font-family:Helvetia neue;
	background-color:#FEC402;
	color:white;
	font-size:20px;
	font-weight:bold;
	}
h1 {
	font-size:48px;
	
}